.drawer {
  // Button to show/hide whole nav
  &__toggler {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: rem(6);

    &-icon {
      font-size: rem(44);
    }
  }

  // Bar thats shown/hidden based on __toggler button
  &-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: rem(300);
    overflow: hidden;
    transition: max-width 0.2s ease;

    &:hover {
      overflow: visible;
      // width: rem(280);
    }
  }

  // The whole nav inside the bar
  &-nav {
    background-color: $sidebar-bg;
    // background-color: $mid-blue;
    // width: rem(300);
    position: relative;
    max-width: rem(62);
    position: relative;
    padding: rem(80) 0 rem(40);
    height: 100%;
    overflow: hidden;
    transform: translateX(-70px);
    transition: all 0.5s linear;

    &--open {
      transform: translateX(0);;
    }

    &--submenu,
    &:hover {
      max-width: rem(300);
    }

    // &__list {
    //   max-width: rem(300);
    // }

    &__item {
      position: relative;
      display: block;
      min-width: rem(300);
      width: 100%;
      overflow: hidden;
      padding: rem(16) rem(10) rem(16) 0;

      &:hover {
        overflow: visible;
      }
    }

    &__parent {
      position: relative;
      display: table;
      border-collapse: collapse;
      border-spacing: 0;
      transform: translateZ(0) scale(1, 1);
      transition: all 0.1s linear;

      &-icon {
        position: relative;
        display: table-cell;
        width: rem(62);
        height: rem(36);
        vertical-align: middle;
      }

      &-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: rem(210);
        font-size: rem(22);
        color: $white;
        border-bottom: 1px solid $color-light-border;
      }
    }

    &__flyout {
      background-color: $flyout-bg;
      // background-color: $light-blue;
      position: fixed;
      right: 0;
      left: 62px;
      bottom: 0;
      top: 62px;
      width: rem(240);
      height: 100%;
      z-index: 99999;
      padding: rem(20);

      &-item {
        padding: rem(10) 0;
      }

      &-link {
        color: $white;
        text-transform: uppercase;

      }
    }
  }

  &__icon {
    font-size: rem(24);
    text-align: center;
  }
}
